{% extends 'layout_administrador.html' %}
{% block content %}

<div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Reservas </h2>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-lg-10">
            <a href="/administracion/agregar_reserva"
                class="btn btn-primary btn-agregar-adm">
                <i class="fas fa-plus"></i> Agregar reserva
            </a>
        </div>
    </div>
    <br>
    <div id="popup"></div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered first">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre-Cliente</th>
                        <th>Apellido-Cliente</th>
                        <th>Fecha Programada de Entrada</th>
                        <th>Fecha Programada de Salida</th>
                        <th>Fecha Real de Entrada</th>
                        <th>Fecha Real de Salida</th>

                        <th>Habitacion</th>
                    
                        <th>Check In</th>
                        <th>Check Out</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in lista_reservas %}
                    <tr>
                        <td class="id">{{ reserva.id }}</td>
                        <td>{{ reserva.name }}</td>

                        <td>{{ reserva.last_name }}</td>
                        <td>{{ reserva.chek_in_date}}</td>
                        <td>{{ reserva.chek_out_date}}</td>
                        <td class="fechaIngreso">{{ reserva.fecha_ingresado}}</td>
                        <td class="fechaSalida">{{ reserva.fecha_salida}}</td>

                        <td>{{ reserva.descripcion}}</td>
                        <td>
                            
                            <a onclick="return abrir_modal('/administracion/administrador-edicion/{{ administrador.id }}','EDICIÓN')"
                                class="btn">
                                <span><i class="fas fa-edit"></i></span>
                            </a>
                        </td>

                        <td>
                            <button class="checkInButton btn btn-primary btn-agregar-adm"> Check In </button>
                            
                        </td>
                        <td>
                            <button class="checkOutButton btn btn-primary btn-agregar-adm" disabled="disabled"> Check Out </button>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nombre-Cliente</th>
                        <th>Apellido-Cliente</th>
                        <th>Fecha Programada de Entrada</th>
                        <th>Fecha Programada de Salida</th>
                        <th>Fecha Real de Entrada</th>
                        <th>Fecha Real de Salida</th>
                        <th>Habitacion</th>

                        <th>Check In</th>

                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $( document ).ready(function() {
        $(".table tbody tr td:nth-child(6)").each( function(){
            var fechaIngresado = $(this).text();
            let tableRow = $(this).closest("tr")
            if (fechaIngresado != "None") {
                tableRow.find(".checkInButton").prop("disabled", true);
                tableRow.find(".checkInButton").addClass("disabled");
                tableRow.find(".checkOutButton").removeClass("disabled");
                tableRow.find(".checkOutButton").removeProp("disabled")
            }
        });

        $(".table tbody tr td:nth-child(7)").each( function(){
            var fechaSalida = $(this).text();
            let tableRow = $(this).closest("tr")
            if (fechaSalida != "None") {
                tableRow.find(".checkOutButton").prop("disabled", true);
                tableRow.find(".checkOutButton").addClass("disabled");
            }
        });

        $(".checkInButton").click(function(){
            var $item = $(this).closest("tr")   // Finds the closest row <tr> 
                       .find(".id")     // Gets a descendent with class="nr"
                       .text();       
            console.log($item);
            
            let tableRow = $(this).closest("tr")
            $.ajax({
                type: "POST",
                url: "/administracion/makeCheckIn/"+$item+"/",
                success: function(data) {
                    var detalle = data.detail;
                    if(detalle == "Not found") {
                        alert("Check In fallido");
                    }
                    console.log(tableRow);
                    alert("Check In hecho el: "+ detalle);
                    tableRow.find(".fechaIngreso")     // Gets a descendent with class="nr"
                       .html(detalle); 
                    tableRow.find(".checkInButton").prop("disabled", true);
                    tableRow.find(".checkInButton").addClass("disabled");
                    tableRow.find(".checkOutButton").removeAttr("disabled");
                },
                error: function() {
                    alert("Check In fallido");
                }
            });
                
        });
        $(".checkOutButton").click(function(){
            var $item = $(this).closest("tr")   // Finds the closest row <tr> 
                       .find(".id")     // Gets a descendent with class="nr"
                       .text();       
            console.log($item);
            
            let tableRow = $(this).closest("tr")
            $.ajax({
                type: "POST",
                url: "/administracion/makeCheckOut/"+$item+"/",
                success: function(data) {
                    var detalle = data.detail;
                    if(detalle == "Not found") {
                        alert("Check Out fallido");
                    }
                    console.log(tableRow);
                    alert("Check Out hecho el: "+ detalle);
                    tableRow.find(".fechaSalida")     // Gets a descendent with class="nr"
                       .html(detalle); 
                    tableRow.find(".checkOutButton").addClass("disabled");
                    tableRow.find(".checkOutButton").prop("disabled", true)
                },
                error: function() {
                    alert("Check In fallido");
                }
            });
                
        });
    });

    var modal;
    function abrir_modal(url, titulo) {
        modal = $('#popup').dialog(
            {
                title: titulo,
                modal: true,
                width: 450,
                resizable: false
            }).dialog('open').load(url)
    }

    function cerrar_modal() {
        modal.dialog("close");
    }
    /*function confirmDelete(id) {
        var reply = confirm("¿Seguro que desea eliminar esta reserva?");
        if (reply == true) {
            $.ajax({
                method: 'POST',
                url: '/administracion/eliminar_reserva/'+id,
                error: function () { alert('An error occured'); }
            });
        }
    }*/
    
</script>
{% endblock %}