{% extends 'layout_administrador.html' %}
{% block content %}
<div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Administradores </h2>                    
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->
    <div id="popup"></div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered first">
                <thead>
                    <tr>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>EMAIL</th>
                        <th>ESTADO</th>
                    </tr>
                </thead>
                <tbody>
                {% for administrador in administradores %}
                    <tr>
                        <td>{{ administrador.name }}</td>
                        <td>{{ administrador.last_name }}</td>
                        <td>{{ administrador.email }}</td>
                        {% if administrador.is_removed %}
                        <td>INACTIVO</td>
                        {% else %}
                        <td>ACTIVO</td>
                        {% endif %}
                        <td>
                            <a onclick="return abrir_modal('/administracion/detalle-administrador/{{ administrador.id }}','DETALLES')" class="btn">
                                <span><i class="fas fa-eye"></i></span>
                            </a>
                            {% comment %} <a onclick="return abrir_modal('{% url 'productos:detalle_producto' producto.pk %}','Productos / {{ producto.descripcion }}')" class="btn">
                                <span><i class="fas fa-edit"></i></span>
                            </a>                             {% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>EMAIL</th>
                        <th>ESTADO</th>
                    </tr>
                </tfoot>
            </table>
        </div>        
    </div>
</div>
<script>
var modal;
function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 450,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>
{% endblock %}